
// Syntax-highlighting:
@import "solarized";
@import "fontface";
  
body, h1, h2, h3
{
    font-family: 'silkscreen';
}

#tagline{
    font-family: 'silkscreen';
    font-size: 50px;
    color: #afd03d;
}

#taglinebody{
    font-family: 'silkscreen';
    font-size: 20px;
    line-height: 5px;
    color: white;
}

#menu{
    font-family: 'silkscreen';
    font-size: 25px;
    color: white;
    :hover {color: #d03d66}
}

.container{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}