
// Syntax-highlighting:
@import "solarized";
@import "fontface";
  
body
{
    font-family: 'silkscreen';
}

#content1::after{
    content: "\a";
    white-space: pre;
}

#tagline{
    font-family: 'silkscreen';
    font-size: 50px;
    color: #afd03d;
}

#taglinebody{
    font-family: 'silkscreen';
    font-size: 20px;
    line-height: 5px;
    color: white;
}

#menu{
    font-family: 'silkscreen';
    font-size: 25px;
    color: white;
    :hover {color: #d03d66}
}

#test{
    color: red
}


// h5 {
//     font-size: 500px;
// }

// p, ul li, div, span, i, h1, h2, h3, h4, h5, h6, figcaption {  
//     font-family: 'silkscreen', Arial, sans;  
//   }